[[extend 'layout.html']]


  <!-- Main Content -->
  <section class="section">
    <div class="container">
      <div class="columns">
        <!-- Left Column -->
        <div class="column is-one-third">
        </div>

        <!-- Right Column -->
        <div class="column">
          <h1 class="title"> Welcome to out Wiki</h1>
          <p>click <a href="[[=URL('page/new')]]">Here</a> to create a page</p>
          <p>click <a href="[[=URL('page/1')]]">Here</a> to see page number 1</p>
        </div>
      </div>
    </div>
  </section>


