[[extend "layout.html"]]

<div style="float:right">
   <a role="button" href="[[=URL('register_room')]]">Register new room</a>
</div>

<h2>Serverside content</h2>


<table>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Location</th>
        <th></th>
      </tr>
[[for row in rows:]]
  <tr>
    <td>[[=row.name]]</td>
    <td>[[=row.size]]</td>
    <td>[[=row.location]]</td>
    <td>
        <a role="button" href="[[=URL('edit_room', row.id)]]">Edit</a>
        <a role="button" href="[[=URL('make_reservation', row.id)]]">Reserve</a>
    </td>
  </tr>
[[pass]]
</table>


<!--
<h2>Ajax content</h2>

<table id="content"></table>

<script>
  fetch("/rooms/api/rooms").then(function(res){return res.json();}).then(function(data){
    let table = document.getElementById("content");
    table.innerHTML="";
    for(let i=0; i<data.rows.length; i++)
    {
      table.innerHTML += "<tr><td>" + data.rows[i].name + "</td></tr>";
    }    
});
</script>
-->