[[extend "layout.html"]]

<div style="float:right">
   <a role="button" href="[[=URL('register_room')]]">Register new room</a>
</div>

<!--table>
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Location</th>
        <th></th>
      </tr>
[[for row in rows:]]
  <tr>
    <td>[[=row.name]]</td>
    <td>[[=row.size]]</td>
    <td>[[=row.location]]</td>
    <td>
        <a role="button" href="[[=URL('edit_room', row.id)]]">Edit</a>
        <a role="button" href="[[=URL('make_reservation', row.id)]]">Reserve</a>
    </td>
  </tr>
[[pass]]
</table-->

<script>
  fetch("/rooms/api/rooms").then(function(res){return res.json()}).then(function(data){document.write(data);})
</script>